p {
  margin: 20px 10px 5px;
  padding: 0px;
}

/* .para {
  margin: 30px;
  padding: 0px;
} */

hr {
  color: red;
  background-color: purple;
  height: 10px;
}

div {
  height: 100px;
  width: 100px;
  color: red;
  background-color: red;
}
